 <!-- Intro Block -->
<div class="intro-block">
    <div class="container">
        <div class="row clearfix">
            <div class="column column-2 intro-image-wrap" data-aos="fade-right">
                <img src="/assets/img/intro-agencys.png" alt="intro-img" class="intro-img">
            </div>
            <div class="column column-2 intro-text-wrap" data-aos="fade-left">
                <h3 class="sub-title" style="margin-left: 10px;">A click is a forever</h3>
                <h2 class="the-title">
                    A Personal Studio Photography
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- end Intro block -->

<!-- Team Block -->
<div class="team-block clearfix">
    <div class="column column-2 team-text-wrap">
        <div class="title-wrap opacity1">
            <h2 class="the-title" data-aos="fade-up">
                New Albums
            </h2>
            <span class="divider-separator" data-aos="fade-up"></span>
            <p class="the-desc" data-aos="fade-up">
                The world is more colorful than the eye can see. To capture ten thousand words in the blink of a moment.
                Turn a cloudy day into something beautiful. Photo into a work of art.
            </p>
        </div>
    </div>
    <div class="column column-2 team-list-wrap">
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 AustinL.jpg'); background-size: cover; background-position: 50%;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Austin L.</h4>
                    <p class="team-role">2019</p>
                </div>
            </div>
        </div>
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 LAnh 2009.png'); background-size: cover; background-position: 50%;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Lam Anh</h4>
                    <p class="team-role">2009 - Nha Trang</p>
                </div>
            </div>
        </div>
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 Disney 2018.png'); background-size: cover; background-position: 50%;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Vivian & Justin</h4>
                    <p class="team-role">2018 Disney Land</p>
                </div>
            </div>
        </div>
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 BigBear 2018.png'); background-size: cover; background-position: 50%;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Vivian & Justin</h4>
                    <p class="team-role">2018 BigBear</p>
                </div>
            </div>
        </div>
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 NhaTrang 2013.png'); background-size: cover; background-position: 50%;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Family</h4>
                    <p class="team-role">2013 Nha Trang</p>
                </div>
            </div>
        </div>
        <div class="column column-3">
            <div class="team-card-wrap">
                <div class="team-img-wrap">
                    <div class="team-img"
                        style="background: url('/assets/img/600x650 NhaTrang 2013-01.png'); background-size: cover; background-position: center center;">
                    </div>
                </div>
                <div class="team-desc-wrap">
                    <h4 class="team-name">Ryan L.</h4>
                    <p class="team-role">2013 Nha Trang</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Team block -->