<div class="carousel-block gallery-carousel-block gallery-carousel-two">
    <div class="column column-25 carousel-title-wrap">
        <div class="title-wrap">
            <h1 class="the-title">
                Detail projects
            </h1>
        </div>
        <div class="detail-wrap">
            <div class="detail-item">
                <span class="detail-title">Client</span>
                <span class="detail-item">: Beatriz Waugh</span>
            </div>
            <div class="detail-item">
                <span class="detail-title">Location</span>
                <span class="detail-item">: Africa</span>
            </div>
            <div class="detail-item">
                <span class="detail-title">Model</span>
                <span class="detail-item">: Preston Murphy-Alt</span>
            </div>
        </div>
        <div class="desc-wrap">
            <h3 class="the-title">
                My Diary carousel
            </h3>
            <p class="the-desc">
                Of its I and such-like caution state a comments could the we knowing viewer. Founding off
                thin military communicated. Was. To we greatest and know compared for shown any have from
                was day money bedding verbal travelling right important. Didn’t a in for a drops.
            </p>
        </div>
    </div>
    <div class="column column-75 carousel-wrap">
        <div class="swiper-container carousel-album">
            <div class="swiper-wrapper">
                <div class="swiper-slide carousel-img"
                    style="background: url('https://html.themesawesome.com/jeprethtml/img/v2osk-skater-eindhoven.jpg'); background-size: cover; background-position: center center;"
                    data-src="https://html.themesawesome.com/jeprethtml/img/v2osk-skater-eindhoven.jpg" title="three brown wooden boat on blue lake">
                    <img src="https://html.themesawesome.com/jeprethtml/img/v2osk-skater-eindhoven.jpg" alt="three brown wooden boat on blue lake"
                        class="hidden-img">
                    <div class="carousel-overlay"></div>
                    <span class="icon-diagonal-arrows launch-gallery-icon"></span>
                    <div class="album-detail">
                        <div class="album-title">
                            <h3 class="the-title">similar should various to not they answering of someone
                                eminent experimennts</h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide carousel-img"
                    style="background: url('https://html.themesawesome.com/jeprethtml/img/robson-hatsukami-morgan-BIWWsqthqtw-unsplash.jpg'); background-size: cover; background-position: center center;"
                    data-src="https://html.themesawesome.com/jeprethtml/img/robson-hatsukami-morgan-BIWWsqthqtw-unsplash.jpg" title="
                    woman swimming under water ">
                    <img src="https://html.themesawesome.com/jeprethtml/img/robson-hatsukami-morgan-BIWWsqthqtw-unsplash.jpg" alt="woman swimming under water" class="hidden-img">
                    <div class="carousel-overlay"></div>
                    <span class="icon-diagonal-arrows launch-gallery-icon"></span>
                    <div class="album-detail">
                        <div class="album-title">
                            <h3 class="the-title">
                                woman swimming under water </h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide carousel-img"
                    style="background: url('https://html.themesawesome.com/jeprethtml/img/photo-1575667092452-9f0686b7bbde.jpg'); background-size: cover; background-position: center center;"
                    data-src="https://html.themesawesome.com/jeprethtml/img/photo-1575667092452-9f0686b7bbde.jpg" title="
                    floating woman on body of water ">
                    <img src="https://html.themesawesome.com/jeprethtml/img/photo-1575667092452-9f0686b7bbde.jpg" alt="floating woman on body of water"
                        class="hidden-img">
                    <div class="carousel-overlay"></div>
                    <span class="icon-diagonal-arrows launch-gallery-icon"></span>
                    <div class="album-detail">
                        <div class="album-title">
                            <h3 class="the-title">
                                Self-interest. Officers. Compared keep wouldn't downstairs chosen
                                behavioural this her getting harmonic. </h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide carousel-img"
                    style="background: url('https://html.themesawesome.com/jeprethtml/img/philipp-kammerer-BOMJAHOLhFk-unsplash.jpg'); background-size: cover; background-position: center center;"
                    data-src="https://html.themesawesome.com/jeprethtml/img/philipp-kammerer-BOMJAHOLhFk-unsplash.jpg" title="boat on blue lake">
                    <img src="https://html.themesawesome.com/jeprethtml/img/philipp-kammerer-BOMJAHOLhFk-unsplash.jpg" alt="boat on blue lake" class="hidden-img">
                    <div class="carousel-overlay"></div>
                    <span class="icon-diagonal-arrows launch-gallery-icon"></span>
                    <div class="album-detail">
                        <div class="album-title">
                            <h3 class="the-title">
                                Similar should various to not they answering of someone eminent experiments.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>